@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
strong,
b,
button,
a {
	font-family: 'Poppins', sans-serif;
	color: #1B1C1E;
	margin-bottom: 0;
}

label {
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	/* identical to box height */
	display: flex;
	align-items: center;
	color: #696F79;
}

h2 {
	font-weight: 600;
	font-size: 48px;
	line-height: 54px;
	color: #1B1C1E;

}

h3 {
	font-weight: 600;
	font-size: 40px;
	line-height: 54px;
	color: #1B1C1E;

}

h4 {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 32px;
}

h5 {
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 32px;
}

p {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 32px;
}

.ant-input,
select {
	background: rgba(0, 0, 0, 0.05);
	border-radius: 3px;
	padding: 10px 30px;
	border: none;
}

.ant-input-affix-wrapper input {
	padding: 10px 30px !important;
	padding-right: 0px;
	background: rgba(0, 0, 0, 0.0);
	border: none;
}

.ant-input-affix-wrapper {
	border-radius: 3px;
	padding: 0 !important;
	padding-right: 15px !important;
	background: rgba(0, 0, 0, 0.05);
	border: none;
}


.btn,
button {
	background: #DAE3E6;

	border-radius: 3px;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	color: #2E7B8C;
	padding: 10px 0;
	border: none;
	height: 40px;
	min-width: 100px;

	&.btn-block {
		width: 100%;
		padding: 13px;
		height: auto;
	}

	&.primary {
		background: #2E7B8C;
		color: #FFFFFF;

		&:hover {
			cursor: pointer;
			opacity: 0.98;
		}
	}

	&.danger {
		background: #C21D27;
		color: #FFFFFF;

		&:hover {
			cursor: pointer;
			opacity: 0.98;
		}
	}

	&.outline {
		background: white;
		border: 2px solid #2E7B8C;
	}

	&:hover {
		cursor: pointer;
		opacity: 0.98;
	}
}

.ant-spin-dot-item {
	background: #2E7B8C;
}

.ant-spin-nested-loading>div>.ant-spin .ant-spin-text {
	color: #2E7B8C;
}

.ant-spin {
	background: #2e7b8c12;
	border-radius: 3px;
}

.AuthWrapper {
	display: flex;

	.side {
		@media only screen and (max-width: 1100px) {
			display: none;
		}

		min-height: 100vh;
		display: flex;
		width: 35%;
		max-width: 1000px;
		padding: 20px;

		position: relative;

		.logo {
			width: 155px;
			height: 58px;
		}
	}

	.auth {
		@media only screen and (max-width: 1100px) {
			width: 100%;
			padding: 20px;

			.container {
				&.registration {
					padding: 50px 10px !important;
				}
			}
		}

		width: 65%;
		padding: 4vw;
		padding-bottom: 0;


		.back {
			a {
				font-style: normal;
				font-weight: 100;
				font-size: 16px;
				line-height: 24px;
				/* identical to box height */
				display: flex;
				align-items: center;
				color: #8692A6;
			}
		}

		.container {
			&.registration {
				padding: 50px;
				width: 100%;
			}


			padding: 15vh 5vw;
			width: 520px;
			margin-left: auto;
			margin-right: auto;
			padding-bottom: 0;



			h2 {
				font-weight: bold;
				font-size: 1.875rem;
				line-height: 2.8125rem;
				color: #1B1C1E;
				display: block;

				small {
					font-family: Poppins;
					font-style: normal;
					font-weight: normal;
					font-size: 1rem;
					line-height: 1.5rem;
					color: #8692A6;
					display: block;
				}
			}

			.form {
				margin-top: 15px;
				padding-top: 15px;
				border-top: 1px solid #F5F5F5;

				.profile-photo {
					width: 50%;

					@media only screen and (max-width: 1100px) {
						width: 100%;
					}

					span {

						.ant-upload {
							width: 100%;

							.form-group {
								position: relative;

								button {
									height: 30px;
									padding: 5px;
									font-size: 12px;
									position: absolute;
									margin-bottom: 0;
									right: 6px;
									bottom: 6px;
									border-radius: 3px;
								}
							}

						}
					}
				}

				label {
					margin-top: 20px;
					margin-bottom: 5px;
				}

				.ant-radio-wrapper {
					display: block;
					text-transform: capitalize;
				}

				.col {
					display: flex;
					flex-direction: row;

					@media only screen and (max-width: 1100px) {
						flex-direction: column;

					}

					.form-group {
						width: 100%;

						&:first-child {
							margin-right: 10px;
						}
					}
				}

				.fwp {
					float: right;
					margin-bottom: 60px;
				}

				button {
					margin-bottom: 30px;
					border-radius: 3px;
				}

				p,
				a {
					font-size: 13px;
					line-height: 24px;
					color: #696F79;
				}

				a {
					color: #2E7B8C;
				}
			}

		}

		&.evaluate {
			width: 65%;

		}
	}
}

.container {
	padding: 100px 50px;
}


.InvoicePage {



	.invoice-box {
		max-width: 800px;
		margin: auto;
		padding: 30px;
		border: 1px solid #eee;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
		font-size: 16px;
		line-height: 24px;
		font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
		color: #555;
	}

	.invoice-box table {
		width: 100%;
		line-height: inherit;
		text-align: left;
	}

	.invoice-box table td {
		padding: 5px;
		vertical-align: top;
	}

	.invoice-box table tr td:nth-child(2) {
		text-align: right;
	}

	.invoice-box table tr.top table td {
		padding-bottom: 20px;
	}

	.invoice-box table tr.top table td.title {
		font-size: 45px;
		line-height: 45px;
		color: #333;
	}

	.invoice-box table tr.information table td {
		padding-bottom: 40px;
	}

	.invoice-box table tr.heading td {
		background: #eee;
		border-bottom: 1px solid #ddd;
		font-weight: bold;
	}

	.invoice-box table tr.details td {
		padding-bottom: 20px;
	}

	.invoice-box table tr.item td {
		border-bottom: 1px solid #eee;
	}

	.invoice-box table tr.item.last td {
		border-bottom: none;
	}

	.invoice-box table tr.total td:nth-child(2) {
		border-top: 2px solid #eee;
		font-weight: bold;
	}

	@media only screen and (max-width: 600px) {
		.invoice-box table tr.top table td {
			width: 100%;
			display: block;
			text-align: center;
		}

		.invoice-box table tr.information table td {
			width: 100%;
			display: block;
			text-align: center;
		}
	}

	/** RTL **/
	.invoice-box.rtl {
		direction: rtl;
		font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
	}

	.invoice-box.rtl table {
		text-align: right;
	}

	.invoice-box.rtl table tr td:nth-child(2) {
		text-align: left;
	}
}